!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Blocmarks"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %ul.breadcrumbs
      = link_to 'Blocmarks', root_path
      - if current_user
        %li
          = link_to (current_user.name || current_user.email), edit_user_registration_path
        %li
          = link_to 'Sign Out', destroy_user_session_path, method: :delete
      - else
        %li
          = link_to 'Sign In', new_user_session_path
        %li
          = link_to 'Sign Up', new_user_registration_path
    - if flash[:notice]
      %div.alert-box.success{ 'data-alert' => '' }
        = flash[:notice]
        %a.close{ href: '#' } &times;
    - elsif flash[:alert]
      %div.alert-box.warning{ 'data-alert' => '' }
        = flash[:alert]
        %a.close{ href: '#' } &times;
    - elsif flash[:error]
      %div.alert-box.alert{ 'data-alert' => '' }
        = flash[:error]
        %a.close{ href: '#' } &times;
    = yield
